footer{clear:both;color:blue;margin-top:150px;padding-top:150px;}
h1{color:yellow;}
button{color:blue;}
.hotel1
{
	width:400px;height:250px;float:right;
	
	
	 border: 30px solid transparent;
    padding: 10px;
    -moz-border-image: url(images/hotel.png) ; /* Safari 3.1-5 */

    border-image: url(images/hotel.png) ;
    border-image-slice: 15%;
   
   
}


.select{
	
	width:400px;height:250px;float:left;

	 border: 30px solid transparent;
    padding: 10px;
    -moz-border-image: url(images/select1.png) ; /* Safari 3.1-5 */

    border-image: url(images/select1.png) ;
    border-image-slice: 15%;
   
  
  


}
ul {list-style-type:none;}

	

